#main_div
  %h3
    = _("Affected Physical Servers")

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          Physical Server Name
        %th
          Physical Server Id
        %th
          BIOS Config Diff
    %tbody
      - @miq_request.miq_request_tasks.each do |task|
        %tr
          %td
            = task.source&.name || 'DISCONNECTED'
          %td
            = task.source&.id || 'DISCONNECTED'
          %td
            - (task.options[:diff] || []).each do |key, old, new|
              %p
                = "#{key}: #{old} -> #{new}"
